* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button,
input,
select,
textarea {
  font-family: "Heebo", sans-serif;
}

body {
  background-color: #f7f7f7;
}

header {
  background-color: #fff;
  height: 80px;
}

header #navbar {
  display: flex;
  justify-content: space-between; /*espaço entre os elementos/ alinha horizontalmente*/
  align-items: center;
  padding: 0 2rem; /*1rem = 16px, 2rem = 32px */
  max-width: 1200px;
  margin: 0 auto;
  height: 80px;
}

header #navbar .nav-brand {
  text-decoration: none; /*removeu o sublinhado*/
  font-size: 1.5rem;
  font-weight: 700;
  color: #333;
}

header #navbar .nav-list {
  list-style: none; /*Remove o marcador (os pontos)*/
  display: flex;
  align-items: center;
  gap: 31px; /*espaçamento entre os itens*/
}

header #navbar .nav-list .nav-item a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  font-weight: 500;
}

header #navbar .nav-list .nav-item a:hover {
  color: #777;
  transition: color 0.3s;
}

/* SECTION BANNER*/

main {
  margin-top: 6rem;
}

main #banner {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 0 2rem;
  margin: 0 auto;
}

main #banner .banner-content .banner-content-title {
  font-size: 44px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 40px;
}

main #banner .banner-content .banner-content-subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  max-width: 500px;
  margin-bottom: 38px;
}

main #banner .banner-content .banner-content-btn {
  background-color: #00a8cc;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-radius: 2px;
  padding: 8px 24px;
  border: none;
}

main #banner .banner-profile {
  border-radius: 50%; /*50% deixa uma imagem quadrada em circulo*/
  width: 100%;
  max-width: 300px;
}

@media (max-width: 920px) {
  main #banner {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }

  main #banner .banner-content {
    text-align: center;
  }

  header #navbar .nav-list {
    display: none;
  }
}

/*SECTION POSTS*/
section#posts {
  margin-top: 71px;
  background-color: #edf7fa;
}

#posts .posts-content {
  padding: 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

#posts .posts-content .posts-content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

#posts .posts-content .posts-content-header .section-title {
  font-size: 22px;
  font-weight: 500;
}

#posts .posts-content .posts-content-header .view-all-link {
  text-decoration: none;
  color: #00a8cc;
}

#posts .posts-content .posts-cards {
  display: flex;
  gap: 20px;
}

#posts .posts-content .posts-cards {
  background-color: #fff;
  padding: 24px;
  margin-bottom: 2rem;
}

#posts .posts-content .posts-cards h3 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 37px;
}

#posts .posts-content .posts-cards span {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 24px;
  display: block;
}

@media (max-width: 740px) {
  #posts .posts-content .posts-cards {
    flex-direction: column;
  }
}
